@import "../assets/mixins.scss";
@import "../assets/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


html,body{
    max-width: 100%;
    margin: 0px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}


.mainhead{
    
.sticky{
    top: -30px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: white;
    transition: 0.5s ease-in-out;
    box-shadow: 2px 2px 2px rgba(27, 26, 26,0.7);
}


    &__tophead{
        background-color: $main;
           padding: 4px 0;
           
        

           &__welcome{
               
               >p{
                   font-family: sans-serif;
                   line-height: 1;
                   padding-top: 10px;
                   color: white;
                   font-size: 14px;
               }
           }

        &__settings{
            text-align: right;
            @include flex(center,end,null,null);


            &--currency{ 
                line-height: 1;
                padding-top: 10px;
                position: relative;

                >ul{
                    top: 100%;
                    right: -10px;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(30px);
                    transition: 0.4s;
                    line-height: 2;
                    list-style: none;
                    padding: 15px 15px 20px;
                    width: 130px;
                    text-align: center;
                    z-index: 99;
                    background-color: white;
                    border: 1px solid rgb(227, 223, 223);
                    >li{
                        &:hover >a{
                            color: gold;
                        }
                        >a{
                            color: black;
                            text-decoration: none;
                        }
                    }
                    
                }
                &:hover > ul{
                    opacity: 1;
                    visibility: visible;
                    pointer-events: visible;
                    transition: 0.8s ease-in-out;
                    transform: translateY(10px);
                }

                >button{
                    border: none;
                    background-color: $main;
                    >span{
                        font-size: 14px;
                        color: white;
                    }
                    i{
                        color:white;
                    }
                }
            }
            &--language{
                line-height: 1;
                padding-top: 10px;
                position: relative;
                >ul{
                    top: 100%;
                    right: -10px;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(30px);
                    line-height: 2;
                    list-style: none;
                    transition: 0.4s;
                    padding: 15px 15px 20px;
                    width: 130px;
                    text-align: center;
                    z-index: 99;
                    background-color: white;
                    border: 1px solid rgb(227, 223, 223);
                    >li{
                        &:hover >a{
                            color: gold;
                        }
                        >a{
                            color: black;
                            text-decoration: none;
                        }
                        &:hover{
                            color: orange;
                        }
                    }
                    
                }
                &:hover > ul{
                    opacity: 1;
                    visibility: visible;
                    pointer-events: visible;
                    transition: 0.8s ease-in-out;
                    transform: translateY(10px);
                }
                
                >button{
                    border: none;
                    background-color: $main;
                    border-left: 1px solid white;
                    padding: 0 0 0 20px;

                    >span{
                        font-size: 14px;
                        color: white;
                    }
                    i{
                        color: white;
                    }
                }
            }
        }
    }
    &__main{
     margin-top: 30px;
     padding: 20px 0;

     

     > .align{
         align-items: center !important;
     }
     &__navbar{

       
        &__links{

           
            display: flex;
            margin-left: 80px;
            gap: 20px;
            position: relative;
            &__link{
                // width: 300px;
                a{
                    text-decoration: none;
                    color: black;

                    &:hover{
                        color: goldenrod;
                    }
                }
                
                >a{
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 52px 16px;

                    &:hover{
                    color: goldenrod;
                }
                
                }
                

                &:hover{
                    .mainhead__main__navbar__links__link__dropdown1{
                    display: flex;
                    overflow: hidden;
                    position: absolute;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: visible;
                    transition: 0.8s ease-in-out;
                    transform: translateY(10px);
                    }
                }
                &:hover{
                   > a{
                        color: goldenrod;
                    }
                }
                &:hover{
                    .mainhead__main__navbar__links__link__dropdown2{
                    display: flex;
                    overflow: hidden;
                    position: absolute;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: visible;
                    transition: 0.8s ease-in-out;
                    transform: translateY(10px);
                    }
                }
                &:hover{
                    .mainhead__main__navbar__links__link__dropdown4{
                    display: flex;
                    overflow: hidden;
                    position: absolute;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: visible;
                    transition: 0.8s ease-in-out;
                    transform: translateY(10px);
                    }
                }
                &__dropdown1{
                    top: 188%;
                    left: 44px;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(30px);
                    transition: 0.4s ease-in-out;
                    line-height: 2;
                    list-style: none;
                    // padding: 15px 15px 20px;
                    width: 20%;
                    text-align: center;
                    z-index: 99;
                    background-color: white;
                    pointer-events: none;
                    border: 1px solid rgb(227, 223, 223);
                }
                &__dropdown2{
                      top: 188%;
                      left: -300px;
                      position: absolute;
                      opacity: 0;
                      overflow: hidden;
                      visibility: hidden;
                      transform: translateY(30px);
                      transition: 0.4s;
                      line-height: 2;
                      list-style: none;
                      padding: 15px 15px 20px;
                      display: flex;
                      justify-content: space-around;
                      text-align: center;
                      z-index: 99;
                      width: 180.8%;
                      background-color: white;
                      pointer-events: none;
                      border: 1px solid rgb(227, 223, 223);


                      &__pages{

                        > .bld{
                            font-weight: 700;
                        }
                      }
                  }
                  &__dropdown4{
                    top: 188%;
                      right: 186px;
                      position: absolute;
                      opacity: 0;
                      visibility: hidden;
                      transform: translateY(30px);
                      transition: 0.4s;
                      line-height: 2;
                      list-style: none;
                    //   padding: 15px 15px 20px;   
                      text-align: center;
                      z-index: 99;
                      width: 28%;
                      background-color: white;
                      border: 1px solid rgb(227, 223, 223);
                  }
                
            }
            .active{
                >a{
                    color: goldenrod;
                }
            }
        }

        @media screen and (max-width: 700px){

            .mainhead{


                &__main{


                    &__log{


                        &__icon{


                            &--hamburger{

                                display: none;

                                a{
                                    i{
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }



        }

        @media screen and (max-width: 700px){
            .mainhead {

                &__main{

                    &__navbar{

                        
                        &__links{
                            display: block;



                            &:hover{
                                .mainhead__main__navbar__links__link__dropdown1{
                                display: block;
                                overflow: hidden;
                                position: absolute;
                                opacity: 1;
                                visibility: visible;
                                pointer-events: visible;
                                transition: 0.8s ease-in-out;
                                transform: translateY(10px);
                                }
                            }
                            &:hover{
                               > a{
                                    color: goldenrod;
                                }
                            }
                            &:hover{
                                .mainhead__main__navbar__links__link__dropdown2{
                                display: block;
                                overflow: hidden;
                                position: absolute;
                                opacity: 1;
                                visibility: visible;
                                pointer-events: visible;
                                transition: 0.8s ease-in-out;
                                transform: translateY(10px);
                                }
                            }
                            &:hover{
                                .mainhead__main__navbar__links__link__dropdown4{
                                display: block;
                                overflow: hidden;
                                position: absolute;
                                opacity: 1;
                                visibility: visible;
                                pointer-events: visible;
                                transition: 0.8s ease-in-out;
                                transform: translateY(10px);
                                }
                            }
                        }
                    }
                }
            }
        }
     }

     &__log{
         @include flex(null,end,null,null);
         gap: 20px;
         padding-right: 30px;
        &__icon{
            position: relative;


            &:hover >
            .mainhead__main__log__icon__links {
                opacity: 1;
                visibility: visible;
                transition: 0.4s ease-in-out;
                transform: translateY(10px);
            }
          a{
              color: black;
              text-decoration: none;
              i{
                  font-size: 24px;
                  font-weight: bold;
                  color: rgba(128, 128, 128, 0.681);
              }
              &:hover > i{
                  color: goldenrod;
              }
          }
          &__links{
                    top: 100%;
                    right: -10px;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(30px);
                    transition: 0.4s;
                    line-height: 2;
                    list-style: none;
                    padding: 15px 15px 20px;
                    width: 130px;
                    text-align: center;
                    z-index: 99;
                    background-color: white;
                    border: 1px solid rgb(227, 223, 223);
            &__link{
                

                &:hover a{
                 color: gold;   
                }
            }
           
            
          }
        }
     }


    }

    
}
main {

    @media screen and (max-width: 700px){

            .carousel-item{
                img{
                    height: 350px;
                    margin-bottom: 30px;
                }
            }
            .policy__items{

                &__item{
                    margin-bottom: 20px;
                    
                    display: block !important;
                    text-align: center  ;
                }
            }


    }



   
    .slider-area{



        

        .carousel-inner{

            .carousel-caption{
                position: relative !important;
                height: 100%;
                width: 100%;
                
                    h5{
                        position: absolute;
                        left: -50px;
                        bottom: 350px;
                    }
                    h1{
                        position: absolute;
                        left: -50px;
                        bottom: 290px;
                        font-size: 50px;
                        font-weight: 700;
                    }
                    p{
                        position: absolute;
                        left: -120px;
                        width:40%;
                        bottom: 236px;
                    }
                    button{
                        position: absolute;
                        left: -50px;
                        bottom: 160px;
                        width: 190px;
                        border: 1px solid transparent;
                        padding: 14px 44px;
                        border-radius: 50px;
                        color: #333333;
                        background-color: white;

                        &:hover{
                            background-color: black;
                            color: goldenrod;
                        }
                    }
                  
            
            }
        }
        @media screen and (max-width: 700px){
            .carousel-inner{
                display: block;

                .carousel-caption{
                    position: relative !important;
                    height: 100%;
                    width: 100%;
                    h5{
                        position: absolute;
                        left: 0px;
                        bottom: 290px;
                    }
                    h1{
                        position: absolute;
                        left: 0px ;
                        bottom: 250px;
                        font-size: 30px ;
                        font-weight: 700;
                    }
                    p{
                        position: absolute;
                        left: -20px;
                        width:80% ;
                        bottom: 180px;
                    }
                    button{
                        position: absolute;
                        left: -10px ;
                        bottom: 100px;
                        width: 190px;
                        border: 1px solid transparent;
                        padding: 14px 44px;
                        border-radius: 50px;
                        color: #333333;
                        background-color: white;

                        &:hover{
                            background-color: black;
                            color: goldenrod;
                        }
                    }
                      
                
                }
            }
        }


        &:hover  span{
            opacity: 1 !important;
            background-color: rgb(172, 160, 160) !important;
        }
        .carousel-control-prev{
            span{
                position: relative;
                left: -50px;
                border: 1px solid gray;
                background-color: #f5f5f5;
                width: 50px;
                height: 40px;
                opacity: 0;
                color: black !important;
                
            }
            &:hover > span{
                background-color: goldenrod;
            }
           
        }
        
        .carousel-control-next{
            span{
                position: relative;
                right: -50px;
                border: 1px solid rgb(207, 194, 194);
                background-color: #d7d1d1;
                color: black;
                width: 50px;
                height: 40px;
                opacity: 0;
            }
            
        }
    }


    .policy__items{
        

        &__item{
            padding: 30px;
        }
        .bgcolor{
            background-color: #fcedda;
        }
        .bgcolor2{
            background-color: #f2fbcb;
        }
        .bgcolor3{
            background-color: #f7d8f9;
        }
    }

    .our-products{
           

        &__title{
            padding: 40px 0;
        }
        text-align: center;
        margin-bottom: 30px;
        
        .item{
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            text-align: center;
            margin: 0 15px;
            position: relative;
            margin-bottom: 50px;
            height: 400px;
            transition: 0.8s ease-in-out;

            .product-image{
                overflow: hidden;

                img{
                    overflow: hidden;
                    transition: 0.6s ease-in-out;

                    &:hover{
                        transform: scale(1.2);
                        overflow: hidden;
                    }
                }
            }

            &:hover{
                border: 1px solid $main;
            }
            &:hover .product-icons1{
                position: relative;
                right: 0;
                transition: 0.4s ease-in-out;
                transform: translateX(-60px);
            }
            &:hover .product-icons3{
                position: relative;
                right: 0;
                transition: 0.4s ease-in-out;
                transform: translateX(60px);
            }


            .product-links{
                position: absolute;
                bottom: -28px;
                left: 66px;
                display: flex;
                gap: 10px;

                .product-icons1{
                    position: relative;
                    background-color: white;
                    left: 60px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $main;
                    border-radius: 50%;
                }
                .product-icons2{
                    position: relative;
                    background-color: white;
                    width: 50px;
                    z-index: 10;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $main;
                    border-radius: 50%;
                }
                .product-icons3{
                    position: relative;
                    right: 60px;
                    background-color: white;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $main;
                    border-radius: 50%;
                }

                a{
                    
                    text-decoration: none;
                    color: goldenrod;
                }

                i{
                    // border: 1px solid goldenrod;
                    font-size: 24px;
                    border-radius: 50%;
                    background-color: white;
                }
            }
        }
    }
    .saleproducts{
        margin: 0 !important;
        padding: 0 !important;
        
        &__image{
            position: relative;
            max-width: 100%;
            overflow: hidden;

            &:before{
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                pointer-events: none;
                background-color: rgba(0, 0, 0, 0.3);
                
            }
            &:hover:before{
                opacity: 1;
                visibility: visible;
            }

            img{
                width: 100%;
                transition: 0.5s ease-in-out;

                &:hover{
                    transform: scale(1.1);
                    opacity: 2;
                    
                }
            }
        }


        &__text1{
            position: absolute;
            top: 70px;
            left: 100px;
            font-weight: 900;
            color: white;
        }
        &__text2{
            position: absolute;
            top: 70px;
            left: 50px;
            font-weight: 900;
            color: white;
        }
        .col-lg-6{
            position: relative;
        }

        .pel{
          
        }
        @media only screen and (max-width: 700px){
            .saleproducts{

                &__image{
                    margin-bottom: 30px;
                }

                &__text1{
                    position: absolute;
                    top: 20px;
                    left: 30px;
                    font-weight: 700;
                    color: white;
                }
                &__text2{
                    position: absolute;
                    top: 20px;
                    left: 30px;
                    font-weight: 700;
                    color: white;
                }
            }
        }


    }
    .topseller{


        @media only screen and (max-width: 700px){

            .topseller{
                margin-bottom: 0px;
                

                &__productimg{

                    img{
                        width: 99%;
                        margin-bottom: 50px;
                    }
                }

                &__prolists{
                    position: relative;
                    display: block !important;

                    &__content{

                        &__title{
                            margin-top: 14px;
                            margin-left: 0;
                            margin-bottom: 14px;
                        }

                        &__price{
                            margin-left: 0;
                            margin-bottom: 14px;
                        }

                        &__rating{
                            font-size: 10px;
                            margin-left: 0;
                            margin-bottom: 14px;
                        }

                        &__links{
                            position: static;
                            margin-left: 0;
                        }
                    }
     
                    

                    &__thumb{
                        width: 100%;
                        height: max-content;

                        img{
                            width: 99% !important;
                            height: 300px !important;
                        }
                    }
                    
                }
            }
            }
        
        margin-top: 66px;
        margin-bottom: 20px;

        .container{

            .row{

                h2{
                    font-size: 32px;
                    font-weight: 600;
                }
                p{
                    font-size: 18px;
                }
            }
        }
        

            
        &__prolists{
            position: relative;

            &__content{
                

                &__title{
                    margin-left: 12px;

                    h5{
                        cursor: pointer;
                        font-weight: 400;

                        &:hover{
                            color: goldenrod;
                        }
                    }
                }

                &__price{
                    margin-left: 12px;
                }


                &__rating{
                    margin-left: 12px;
                    
                    i{
                        color: goldenrod;
                    }
                }

                &__links{
                    position: absolute;
                    bottom: 0;
                    right: 90px;

                    a{
                        text-align: center;

                    }
                    i{
                        color: black;
                        padding-top: 10px;
                        background-color: #f6f6f6;
                        height: 44px;
                        width: 44px;
                        font-size: 22px;

                        &:hover{
                            background-color: goldenrod;
                            color: white;
                        }
                    }
                }
            }

            &__thumb{
                overflow: hidden;

                img{
                    width: 180px !important;
                    height: 169px !important;
                    transition: 0.6s ease-in-out;

                    &:hover{
                        transform: scale(1.2);
                    }
                    
                }
            }
        }
    }
    .blog{

        &__title{
            padding-bottom: 42px;
            h2{
                font-size: 30px;
                line-height: 1.2;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
            }
            p{
                font-size: 18px;
                font-family: 'Montserrat', sans-serif;
            }
        }
        &__item{

            &__image{
                

            }

            &__content{
                padding-top: 20px;
                margin-top: 6px;

                h5{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 900;
                }          
                &__more{

                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    color: #535050;


                    &:hover{
                        color: goldenrod;
                    }
                }

                a{
                    text-decoration: none;
                    color: black;
                }

                &__lists{
                    position: relative;
                    left: -30px;

                    &__list{

                        &--admin{
                            font-weight: 900;
    
                        }
                        &--date{
                            font-weight: 900;
                            position: absolute;
                            left: 0;
                            background-color: red;
                        }
                    }
                }
                
            }
        }
    }
    .ourbrands{
        
        margin: 60px 0;
        .flex{
            display: flex;
            gap: 10px;
        }
        img{
            margin-left: 36px;
            width: 225px !important;
            height: 51px !important;
            opacity: 0.3;
            transition: 0.4s;

            &:hover{
                opacity: 1;
            }
        }

    }
}
.scrolling {
  bottom: 50px;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 50px;
  z-index: 9999;
  transition: 0.4s;
  border-radius: 4px;
  background-color: $main;
    i {
    line-height: 40px;
    color: #fff;
    font-size: 25px; 
    }

    @media only screen and (max-width: 700px){
        left:260px;
    }
}
  
  .scrolling.hide {
    bottom: -50px;
    visibility: hidden;
    opacity: 0; }

footer{

    .total{

        &__locationandlinks{

            @media only screen and (max-width: 700px){
 
                padding: 50px 0;

                &__text{
                    padding-bottom: 24px;

                    &__title{

                       position: relative;
                       left: -16px;
                    }
                    &__details{
                        position: relative;
                        left: -16px;



                    }
                }

                h5{
                    padding-bottom: 20px;
                    padding-top: 0;
                }

                .mr{
                    position: relative;
                    left: 0px !important;
                    
                }
                .ml{
                    position: relative;
                    left: -50px;
                    
                }

            }


            display: flex;
            gap: 10px;
            background-color: #f0f0f0;
            padding: 80px 0;

            .mr{
                position: relative;
                left: -20px;
                
            }
            .ml{
                position: relative;
                right: -50px;
            }

            &__text{


                a{
                    transition: 0.4s;

                    &:hover{
                        color: goldenrod;
                        transform: translateX(5px);
                    }
                }
                  text-align: start;
                &__title{
                    margin-left: 30px;
                    
                    h5{
                        font-family: 'Montserrat', sans-serif;
                        padding-bottom: 28px;
                    }
    
                }
                &__details{

                    &__links{
                        

                        &__link{
                            line-height: 1.4;
                            margin-bottom: 15px;
                            font-size: 16px;
                            font-family: 'Montserrat', sans-serif;

                            display: flex;
                            gap: 6px;

                            


                            a{
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }

                }

            }
        }
    }
    .total__bottom{
        padding: 20px 0;
        &__copyright{
            
            a{
                text-decoration: none;
            }
            b{
                color: goldenrod;
            }
        }
        &__socialmedia{
            text-align: right !important;
            
            a{
                color: rgb(90, 87, 87);
                transition: 0.4s;

                &:hover{
                    color: goldenrod;
                }
            }
            i{
                padding-right: 20px;
                font-size: 16px;
            }
        }
    }
    
}



body{
        line-height: 1.7;
      
      .mobile-header-top {
        border-bottom: 1px solid #e5e5e5; }
      
     


        .mobile-main-header{
            .mobile-logo {
                
                max-width: 140px;
                width: 100%; 
            }

        display: flex;
        align-items: center;
        justify-content: space-between;

            .mobile-menu-toggler{

                 display: flex;
                 align-items: center;

                 .mobile-menu-btn{

                    margin-left: 15px;

                    .off-canvas-btn{
                        i{
                            
                        font-size: 24px;
                        cursor: pointer;
                        padding: 15px 15px;
                        font-weight: 600;
                        line-height: 1;
                        padding-right: 0;
                        }
                    }
                    &:hover{
                        color: #e3a51e;
                    }
                 }
                .mini-cart-wrap{
                    display: inline-block;
                    font-size: 24px;
                    line-height: 1;
                    position: relative;
                    margin-left: 30px; 
                    a{
                        color: #333333;
                    }
                    &:hover{
                        color: #e3a51e;
                    }
                    .notification{
                        font-size: 13px;
                        color: #fff;
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                        border-radius: 50%;
                        text-align: center;
                        font-weight: 600;
                        right: -8px;
                        top: 0;
                        position: absolute;
                        background-color: #e3a51e; 
                        
                    }
                }
            }
        }
      
      @media only screen and (max-width: 480px) {
        .mobile-menu {
          margin-top: 15px;
         } 
        
    }
}